@import "active_admin/mixins";

.active_admin {

  .activeadmin-translate .locales {
    overflow: auto;
    margin-right: 10px;
    margin-bottom: -1px;

    li {
      @include section-header;

      border-top-left-radius: 10px;
      border-top-right-radius: 10px;

      float: left;

      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;

      a {
        padding: .5em 1em;
        text-decoration: none;

        &:hover,&:active {
          text-decoration: underline;
        }
      }

      &.ui-state-active {
        background: white;
        border-bottom-color: white;

        a {
          color: $section-header-text-color;
          cursor: default;
          text-decoration: none;
        }
      }
    }
  }

  .has_many_fields .activeadmin-translate .locales {
    padding-top: 10px !important;
  }

  .activeadmin-translate .locale {
    clear: left;
  }

  .activeadmin-translate .ui-tabs-hide {
    display: none !important;
  }

  // locales nested in another fieldset
  .inputs .activeadmin-translate {
    margin-left: 10px;
    margin-right: 10px;

    .locale {
      border-bottom: 1px solid #ddd;
    }
  }
}
